<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" th:href="@{/css/Header-Blue.css}">
    <link rel="stylesheet" href="@{/css/styles.css}">
</head>

<body style="background-color: rgb(201,212,218);">
<div style="height: 50px;">
    <div class="header-blue" style="height: 50px;">
        <h1 style="color: rgb(230,234,223);">FootForward</h1>
    </div>
</div>
<h1 style="margin-top: 80px;font-size: 20px;width: 80%;margin-left: 10%;">Patient personal data:</h1>
<div class="table-responsive" style="width: 80%;margin-left: 10%;background-color: #115382;">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Sex</th>
            <th>Date of birth</th>
            <th>Address</th>
            <th>Phone</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><span th:text="${patient.id}">Id</span></td>
            <td><span th:text="${patient.firstName}">First Name</span></td>
            <td><span th:text="${patient.lastName}">Last Name</span></td>
            <td><span th:text="${patient.sex}">Sex</span></td>
            <td><span th:text="${patient.dateOfBirth}">Date Of Birth</span></td>
            <td><span th:text="${patient.address}">Address</span></td>
            <td><span th:text="${patient.phone}">Phone</span></td>
        </tr>
        </tbody>
    </table>
</div>

<h1 style="margin-top: 80px;font-size: 20px;width: 80%;margin-left: 10%;">Diabetes risk:</h1>
<div class="table-responsive" style="width: 80%;margin-left: 10%;background-color: #115382;">
    <table class="table">
        <thead>
        <tr>
            <th hidden>Id</th>
            <th hidden>Patient Id</th>
            <th hidden>Patient</th>
            <th>Diabetes risk data:</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><p>Patient diabetes risk is: <span th:text="${risk.assessement}">Risk</span></p>
                <p>Diabetes triggers detected are:<span th:text="${triggers}">Triggers</span></p>
            </td>
        </tr>
        <tr>
            <td> <span style='font-weight:bold;'>Practitioner's notes/recommendations</span></td>
        </tr>
        <tr th:if="${notes.empty}">-->
            <td>No notes from practitioners for given patient</td>
        </tr>
        <tr th:each="note: ${notes}">
            <td hidden><span th:text="${note.id}"> Id </span></td>
            <td hidden><span th:text="${note.patId}"> Patient Id </span></td>
            <td hidden><span th:text="${note.patient}"> Patient </span></td>
            <td><span th:text="${note.note}">Note Text</span></td>
        </tr>

        </tbody>
    </table>
    <button class="btn btn-primary" type="button"><a th:href="@{/}"><span
            style="color:white"> Back to patient list</span></a></button>

</div>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>

